In [19]:
import pandas as pd
import os

input_file = os.path.join('roberta_fallback_labeled.xlsx')

In [20]:
df = pd.read_excel(input_file)
df

,Unnamed: 0.1,Unnamed: 0,Received At,Message,Topic,existing Topic
0,0,0,2023-01-23 09:14:29.825000,Sehr geehrte Dame,begrüßung,True
1,1,56,2023-02-13 15:13:38.980000,hallo !,begrüßung,True
2,2,75,2023-02-20 09:21:09.348000,hallo,begrüßung,True
3,3,79,2023-02-20 14:06:35.434000,Bonjour,begrüßung,True
4,4,68,2023-03-24 07:36:20.763000,Jemand da?,begrüßung,True
...,...,...,...,...,...,...
601,601,29,2023-06-15T09:05:30.295241Z,Fragen zur Mahnung,mahnung,False
602,602,32,2023-06-14T07:43:13.893192Z,Kann ich das EKZ-Magazin auch im Internet lese...,magazin,False
603,603,75,2023-06-06T15:24:57.592433Z,Können sie bitte folgende Adresse aus ihrem bl...,magazin,False
604,604,46,2023-06-12T14:38:30.248852Z,Bauprojekt,neubau,False
605,605,68,2023-06-09T05:26:09.839736Z,datenschtz,datenschutz,False

In [21]:
df_irrelevant = df.loc[df['Topic'] == 'x']
df_irrelevant

,Unnamed: 0.1,Unnamed: 0,Received At,Message,Topic,existing Topic
302,302,108,2023-01-02 12:07:29.512000,l,x,True
303,303,109,2023-01-03 20:55:53.231000,Meine Wie gr,x,True
304,304,110,2023-01-05 11:41:03.075000,test,x,True
305,305,111,2023-01-06 08:56:58.488000,stelle,x,True
306,306,112,2023-01-06 09:26:23.533000,formulare,x,True
...,...,...,...,...,...,...
477,477,79,2023-06-05T21:09:51.848964Z,F,x,True
478,478,83,2023-06-05T12:25:38.570713Z,Druckfehler?,x,True
479,479,84,2023-06-05T09:31:51.312891Z,?,x,True
480,480,87,2023-06-03T17:40:13.842434Z,Juchstrasse,x,True
481,481,90,2023-06-02T17:10:11.898940Z,?,x,True

In [22]:
def is_irrelavent(message: str) -> bool:
    
    # message contains space
    if  ' ' not in message:
        return False

    # message contains no character
    # if 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ' not in message:
    #     return False

    return True

In [23]:
df_irrelevant['is irrelevant'] = df_irrelevant['Message'].apply(is_irrelavent)

C:\Users\NGuenther\AppData\Local\Temp\ipykernel_3248\3853297633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_irrelevant['is irrelevant'] = df_irrelevant['Message'].apply(is_irrelavent)

In [27]:
df_irrelevant.loc[df_irrelevant['is irrelevant'] == True]

,Unnamed: 0.1,Unnamed: 0,Received At,Message,Topic,existing Topic,is irrelevant
303,303,109,2023-01-03 20:55:53.231000,Meine Wie gr,x,True,True
308,308,114,2023-01-09 07:58:26.594000,IST GESPERRT,x,True,True
311,311,117,2023-01-11 12:03:26.135000,Wo ist Alex,x,True,True
312,312,118,2023-01-11 12:03:41.961000,Herr Schreiner,x,True,True
313,313,119,2023-01-11 14:34:14.641000,Paul Forster,x,True,True
...,...,...,...,...,...,...,...
468,468,54,2023-06-09T14:15:43.718882Z,2. Stromnetz-Anlage,x,True,True
469,469,55,2023-06-09T14:15:09.563715Z,1. Stromnetz-Region,x,True,True
470,470,57,2023-06-09T13:25:20.727323Z,Habe ja angegeben,x,True,True
471,471,60,2023-06-09T13:20:39.718517Z,8180 Bülach,x,True,True
476,476,76,2023-06-06T12:04:03.201527Z,test bpc,x,True,True